@import "tailwindcss";

@theme {
  /* Custom Accent Colors */
  --color-brand-blue: #007bff;
  --color-brand: #ac6a06;

  /* Custom Font Families  */
  --font-heading: "Poppins";
  --font-sans: "Inter";
}

/* Base DOM Root Styles */
#root {
  font-family: var(--font-sans), sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}