@import "tailwindcss";

@theme {
  /* Adding a custom color */
  --color-brand-blue: #007bff;

  /* Adding a custom font */
  --font-heading: "Poppins", sans-serif;
}
#root{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}